{
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "warn"
  },
  "plugins": ["node", "prettier"],
  "env": {
    "es6": true,
    "jest": true,
    "node": true
  }
}
